      <footer style = "margin-top:50px">
        <div class="row">
          <div class="col-lg-12">
            <p>Made by the Global Ties Town and Country Learning Center Team</p>
          </div>
        </div>
      </footer>