      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-9">
            <h1>Town and Country Learning Center</h1>
            <p class="lead">Music Game Project</p>
          </div>
        </div>
      </div>