!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Seashore CF
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    style
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    link(rel='stylesheet', href='stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='stylesheets/main.css')
    script(src='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    //if lt IE 7
      p.chromeframe
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
        | to improve your experience.
    #fb-root
    script
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container(style='')
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') SCF
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='#') Home
              li
                a(href='#about') About
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Media
                  b.caret
                ul.dropdown-menu
                  li.nav-header Check out our
                  li
                    a(href='#') Blog
                  li
                    a(href='#') Pictures
                  li
                    a(href='#') Videos
              li
                a(href='#contact') Contact
            form.navbar-form.pull-right
              input.span2(type='text', placeholder='Email')
              input.span2(type='password', placeholder='Password')
              button.btn.signin(type='submit') Sign in
              button.btn.register(type='submit') Register
          // /.nav-collapse
    .container
      h1(style='margin-left: 10%; font-size: 2.3em') Seashore Campus Fellowship
      // Main hero unit for a primary marketing message or call to action
      #myCarousel.carousel.slide(style='width: 80%; margin-left: auto; margin-right: auto;')
        ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')
        .carousel-inner
          .item.active
            img(src='img/cyscpic.jpg', alt='')
          .item
            img(src='img/cyscpic2.jpg', alt='')
          .item
            img(src='img/scfshirt.jpg', alt='')
        a.left.carousel-control(href='#myCarousel', data-slide='prev') ‹
        a.right.carousel-control(href='#myCarousel', data-slide='next') ›
      .row-fluid(style='font-size: 1em')
        .span12
          .row-fluid
            .span4.offset1
              h2 Upcoming Events
            .span4.offset2
              section.cform
                article.title
                  span Mailing List
                article.form
                  div Your Email
                  input(type='text', placeholder='name@emailprovider.com')
                article.btn
                  input(type='submit', value='Subscribe')
        div
          .row
            .span8.offset2(style='margin-top: 10px; border: 1px solid silver;')
              p
                | Look at some stuff
                | we've done recently
                | .....................
                | .....................
                | .....................
                | .....................
                | and MiniPic
          .row(style='margin-top:20px')
            .span8.offset2(style='border: 1px solid silver;')
              h2 Here's a preview to our blog!
              ul
                li Title
                li Title
                li Title
                ul
          .row(style='')
            .span8.offset2(style='margin-top: 10px; border: 1px solid silver;')
              p
                | Check out some of our cool pics together... with Food!
                br
                | Also, sign up for our newsletter to get frequent updates!
          hr
          footer
            p Join SCF Today!
            p
              | Also, take a look at our Church here!
              a(href='http://tjc.us')
                strong True Jesus Church
                a
            .fb-like(data-href='https://www.facebook.com/pages/Seashore-Campus-Fellowship/182313125144093', data-send='true', data-width='450', data-show-faces='true')
        // /container
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        script
          window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\\/script>')
        script(src='js/vendor/bootstrap.min.js')
        script(src='js/main.js')
        script
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
