extends layout2

block content
    .container
      hr.featurette-divider
      .row.aboutme
        .row.col-md-8.col-md-offset-1
          .row.col-md-12
            h1 Welcome&comma;
            // <hr>
            h2 this is my personal site&comma; feel free to look around 
            // <embed width="100%" height="100%" name="plugin" src="../resume.pdf" type="application/pdf">
          .row
            .col-md-12
              nav.cl-effect-8(style='padding-top: 5%; margin-bottom: 3%; padding-bottom: 5%;')
                a.col-md-3.mylink(href='/projects', style='text-align:center; ') Projects
                a.col-md-3.mylink(href='/gallery', style='text-align:center') Gallery
                a.col-md-3.mylink(href='/portfolio/index', style='text-align:center') Portfolio
              // <p class ="text-muted" style= "font-size: 2em"> I'm </p>
          hr.featurette-divider
          .row
            .col-md-12
              p.text-muted(style='font-size: 2em')  A little about me&period;&period;&period; 
              p.lead
                | I&apos;m a 3rd-year Computer Science student at the University of California&comma; at San Diego&period;  I enjoy building serverside projects on a whim using
                a(href='http://nodejs.org')  Nodejs 
                | and lately also 
                a(href='http://golang.org')  Golang. 
                | In my three years learning here at UCSD&comma; I&apos;ve realized that programming has become a principle in my life to solve complex issues&comma; take all possibilities in consideration when planning ahead&comma; and being creative
                br
                br
                | I&apos;m also a Christian of the
                a(href='http://tjc.us')  True Jesus Church
                | &comma; and a principal member of
                a(href='http://scf.ucsd.edu')  Seashore Campus Fellowship
                | &comma; a student org on campus&period; Though I&apos;ve grown up as a Christian&comma; I never had a real grasp on my faith until college&comma; where I was able to share&comma; explore&comma; and grow in my faith as a Christian
              hr.featurette-divider
              // some hobbies I enjoy- go, guitar, piano, golf, swimming, boxing
          hr.featurette-divider
          .row.col-md-12
            p.text-muted(style='font-size: 2em')  And some of my hobbies&period;&period;&period; 
            img.col-md-4(src='/images/guitar.jpg')
            img.col-md-4(src='/images/goboard.jpg')
            img.col-md-4(src='/images/golf.jpg')
          hr.featurette-divider
          .row.col-md-12
            p.text-muted(style='font-size: 2em')  Here's how to contact me: 
            p.lead
              | Email: jychou@ucsd.edu 
              // some hobbies I enjoy- go, guitar, piano, golf, swimming, boxing
        .row.col-md-3
          img(src='../../images/john.jpg')
          p.text-muted(style='font-size: 2em')  Quote of the day&colon; 
          blockquote
            p(style='font-style:italic')
              | We are not now that strength which in old days Moved earth and heaven&comma; that which we are&comma; we are&comma; One equal temper of heroic hearts&comma; Made weak by time and fate&comma; but strong in will To strive&comma; to seek&comma; to find&comma; and not to yield
            p.cite
              cite
                a(href='http://www.poets.org/viewmedia.php/prmMID/15827#sthash.eq1TPmT4.dpuf') Ulysses 
                | Lord Alfred Tennyson
          h3  Social Media
          .row
            a(href='http://github.com/choucalate')
              img.col-md-4(style='max-height:100px; width:100px', src='../../images/github.png')
            a(href='http://www.linkedin.com/profile/view?id=202426913')
              img.col-md-4(style='max-height: 100px; width: 100px', src='../../images/linked.png')

    // /container
