!!! 5
html(lang='en')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='description', content='Johns Website')
    meta(name='keywords', content='navigation, menu, responsive, border, overlay, css transition')
    meta(name='author', content='John')
  body
    block content