extends layout3

block content
      #top_stuff.row(style='margin-top: 10%')
        div
          // START THE FEATURETTES
          hr.featurette-divider
          .row.featurette
            .col-md-8
              h2.featurette-heading 
                | Awesome Links
              ol 
                li CSS-Tricks- 
                  a(href="http://css-tricks.com") Link
                p.lead
                  | This was my primary website that I used for open-source code when I was developing mostly on the front-end.  It teaches many neat tips and tricks for the up and coming developer who may or may not have some misconceptions while developing a responsive website. 

                li Tympanus- 
                  a(href ="http://tympanus.net/codrops") Link
                p.lead
                  | As you've seen from my "Creative Links", "Gamma Gallery", and much more, Tympanus has become one of my favorite sites from where I gather open source front-end widgets that have already been developed.  One disadvantage is the consistency issue, which I sometimes have when integrating it with my projects.

                li Responsive Tester-
                  a(href="http://www.mattkersley.com/responsive/") Link
                p.lead
                  | Developed my Matt Kersley, this tester is so that without having to buy a tablet, phone, and computer, in which we try to resize all possible widths and lengths to test its responsiveness, this site tests it all.  Poorly developed sites will not responsively adjust itself per screen size.

                li Bootstrap-
                  a(href="http://getbootstrap.com/") Link
                p.lead
                  | Bootstrap and Foundation are the leading bases for programmers to just generate a quick site without having to worry too much about how the site will look on other computers.  It's a nice one-size-fits all code bootstrap that gets anyone started with coding.

                li Node Beginner- 
                  a(href="http://www.nodebeginner.org/") Link
                p.lead
                  | This is an amazing book that teaches neat tricks.  If you enjoy this book, I encourage you to buy it because even though a lot of it is low-level, even to the TCP layer code, it's incredibly useful for someone so that they won't program Node the wrong way.  I often went about it the wrong way and had to learn from it the hard way.

                li Nodejitsu- 
                  a(href="https://www.nodejitsu.com/") Link
                p.lead
                  | This and Heroku are my favorite server hosters.  It's simple and cheap to deploy an easy site that's fairly easy to manage.  Nodejitsu, however, is only geared for Nodejs, but it's still fairly easy to use and good for scalability purposes.

                li How to Node- 
                  a(href ="http://howtonode.org/") Link
                p.lead
                  | I enjoy using this book for the typical tricks that one can apply to Node.  It'll demonstrate useful modules that one should incorporate into one's own code so that a lot of things don't have to be rewritten, or much worse, poorly written.

                li Github- 
                  a(href="http://www.github.com") Link
                p.lead
                  | My favorite repository ever.  Why?  Not only can I store all my projects into this repository, but also deploy to heroku from github, I can also look up other open source github projects that are found on here.  This has been an extremely useful utility that I've thoroughly enjoyed using and have found to be quick to pick up.

                li Facebook API- 
                  a(href="http://api.facebook.com") Link
                p.lead
                  | An extremely widely used Application Programer's interface, which means that you can easily look up your problems on Stack Overflow.  However, the Facebook API has so many programmers behind it that there will be many breaking changes so your code will always need to be readjusted when they release something bigger and better.

                li NPM (Node Packaging Modules) - 
                  a(href ="https://npmjs.org/") Link
                p.lead
                  | NPM has been by go-to source for finding the modules that I need.  My only problem with it is the search algorithm isn't as great, to list the best modules, or even the recommended modules.  However, it contributes a great deal, and I've used it to build my own stream module.

            .col-md-3.col-md-offset-1
              img.featurette-image.img-responsive(src='/images/node.png ', alt='Generic placeholder image', width='100%')
          // /END THE FEATURETTES
        // /span
        // /span
      // /row
      hr
