<% layout(layoutPath) %>
<div class="row">
  <!--Sidebar-->
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a href="/account">Account Settings</a></li>
      <li class ="active"><a>Profile Information</a></li>
    </ul>
  </div>
  <!--Main Content -->
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <form class="form-horizontal" role="form" method = "post" action = "/editsetting" >
      <div class="row" align="left">
        <!--Class header-->
        <h1 class="page-header">Profile Information</h1>
      </div>
      <!-- Name Gender and Age -->
      <!--Container for about me and profile pic -->
      <div class="row">
        <!--Profile Picture -->         
        <div class="col-md-4">
          <div class="form-group">
            <div display="block">
              <label class="form-inline control-label">Profile Picture</label> 
            </div>
          </div>
          <div display="block">  
            <img id = "pf_pic" height="150px" width="150px" display="block" clear="both"src="http://placehold.it/150x150" class="img-rounded" />
          </div>
        </div>
        <!--Update URl and backgroud Url -->
        <div class="col-md-8">
          <div class="form-group">
            <label class="form-inline control-label">Profile Picture URL</label> 
            <% if(user.profile_url) { %>
            <input name ="profile_pic" id="pf_url" type="text" class="form-control" value = "<%= user.profile_url%>">
            <% } else { %>
            <input name ="profile_pic" id="pf_url" type="text" class="form-control" placeholder = "Try Loading One From Google Images">
            <%} %>
          </div>
          <button id="pf_but" type="button" class="btn btn-primary">Load Profile Pic</button>
          <!-- <form class="form-group" role="form" align="left">
            <div class="form-group">
               <label id="profile_pic" class="form-inline control-label">Background URL</label> 
                <input type="text" class="form-control" placeholder="New Background URL">
            
            </div>
            <div>
            <button type="button" class="btn btn-primary">Load Background Pic</button></div>
            </form> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <label class="form-inline control-label">Status</label> 
          <div class="form-group">
            <textarea id = "status" name = "status" class="form-control" rows="2">
                <% if(user.status) {%>
                <%=user.status%>
                <%} %>
            </textarea>
          </div>
        </div>
      </div>
      <div class="row placeholder"></div>
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <label class="form-inline control-label">About Me</label> 
          <div class="form-group">
            <textarea id = "about" name ="about" class="form-control" rows="4">
                <% if(user.about) {%>
                <%=user.about%>
                <%} %>

            </textarea>
          </div>
        </div>
      </div>
      <div class="row" align="right">
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </div>
    </form>
    <% include ../shared/footer %>
  </div>
  <!--Closes main content-->      
</div>
<!--Closes big row-->
<script type = "text/javascript">
  $(function() {
  
  
  $('#pf_but').click(function() {
      var urlpatt = /((([A-Za-z]{3,9}:(?:\/\/)?)(?:[\-;:&=\+\$,\w]+@)?[A-Za-z0-9\.\-]+|(?:www\.|[\-;:&=\+\$,\w]+@)[A-Za-z0-9\.\-]+)((?:\/[\+~%\/\.\w\-_]*)?\??(?:[\-\+=&;%@\.\w_]*)#?(?:[\.\!\/\\\w]*))?)/;
      var result = urlpatt.test($('#pf_url').val());
      if(result) { 
          $('#pf_pic').attr('src', $('#pf_url').val());
      } else {
          alert("please enter a valid url")
      }
  
  });
  });
</script>