<% layout(layoutPath) -%>
         <div class="row">
            <div class="col-md-4"><img src="/img/john.jpg"></div>
            <div class="col-md-4">
               <h2 class="profileName">
                  <p style="margin-top: 270px">John Chou</p>
               </h2>
            </div>
         </div>
         <br>
         <div class="col-lg-12">
            <ol class="breadcrumb">
               <li><a href="#">About</a></li>
               <li><a href="#">My Jams</a></li>
               <li class="active">My Badges</li>
            </ol>
         </div>
         <!-- body content-->
         <div style="background-color:white; margin-bottom:20px; border-radius: 10px;" class="row">
            <div class="col-md-12">
               <div class="divider"></div>
               <h2><strong>About</strong></h2>
               <p>I am&period;&period;&period;&period;</p>
               <p>Age&colon;</p>
               <p>Sex&colon;</p>
               <p>Adress</p>
            </div>
         </div>
         <div style="background-color:white; margin-bottom:20px; border-radius: 10px;" class="row">
            <div class="col-md-12">
               <div class="divider"></div>
               <h2><strong>My Jams</strong></h2>
               <div class="row">
                  <div class="col-md-3 col-md-offset-1"><iframe width="250" height="200" src="http://www.youtube.com/embed/eZxo9mrWgR8" frameborder="0" allowfullscreen=""></iframe></div>
                  <div class="col-md-3 col-md-offset-1"><iframe width="250" height="200" src="http://www.youtube.com/embed/p9mmhh_wvkA" frameborder="0" allowfullscreen=""></iframe></div>
                  <div class="col-md-3 col-md-offset-1"><iframe width="250" height="200" src="http://www.youtube.com/embed/eZxo9mrWgR8" frameborder="0" allowfullscreen=""></iframe></div>
               </div>
            </div>
         </div>
         <div style="background-color:white; margin-bottom:20px; border-radius: 10px;" class="row">
            <div class="col-md-12">
               <div class="divider"></div>
               <h2><strong>My Badges</strong></h2>
               <div class="row">
                  <div class="col-md-3 col-md-offset-1">
                     <tbody>
                        <table class="table table-hover"><img src="/img/midimau5.jpg" style="width: 80%"></table>
                     </tbody>
                  </div>
                  <div class="col-md-3 col-md-offset-1"><img src="/img/vinyl.jpg" style="width:80%"></div>
                  <div class="col-md-3 col-md-offset-1"><img src="/img/dynamite.jpg" style="width:80%"></div>
               </div>
            </div>
         </div>